lombok.addLombokGeneratedAnnotation = true
lombok.nonNull.exceptionType = JDK
# this is root dir and don't search for parent
config.stopBubbling = true
# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier